#error_message {
padding: 5px;
margin: 0;
width: auto;
background-color: rgb(255, 255, 116);
font-weight: bold;
text-align: center;
}
	  
.gerritBody {
  padding: 5px;
  width: 20em;
  font-family: "Roboto", sans-serif;
  padding: 5% 0 0;
  margin: auto;
}

.gerritBody h1, th, table tr td:first-child{
	display: none;
}

#f_user:text{ content:'replacement string'; display:  block; text-indent:0 ;  }


.gerritBody form{

  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#f_user, #f_pass{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}



.gerritBody form input[type="submit"]{
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

#cancel_link {
  padding: 0px;
  margin: 40%;
  color: #4CAF50;
  text-decoration: none;
  font-size: 14px;
}